body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('/public/img1.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.app {
  text-align: center;
  padding: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.search-bar {
  width: 80%;
  max-width: 600px;
  padding: 15px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  outline: none;
}

.search-bar:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  width: 80%;
  max-width: 600px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.suggestions-list li {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.suggestions-list li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.video-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  max-width: 100%;
}

.video-container iframe {
  border: none;
  width: 100%;
  max-width: 640px;
  height: 390px;
}

.error-message {
  font-size: larger;
  font-weight: bolder;
  color: #ffffff;
  background: rgba(255, 0, 0, 0.1);
  border: 1px solid #ff4d4d;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  color: #fff;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .search-bar {
    width: 90%;
  }

  .suggestions-list {
    width: 90%;
  }
}
